.Main-div{
         display: flex;
         justify-content: center;
         margin-top: 5%;
  }

.sub-div{
       background-color: rgb(165, 211, 134);
       width: 40%; 
       text-align: center; 
       border: 2px solid;
}
.labname{
         padding-right: 20px;
         font-size: 18px;
         font-weight: 600;
}
.name{
         margin-bottom: 10px;
}
.email{
         margin-bottom: 10px;
}
.form-control_age{
         margin-left: 15px;
         margin-bottom: 10px;
}
.gender_sty{
         margin-bottom: 10px; 
         margin-right: 40px;   
}
.button_btn{
         margin-bottom: 20px;  
}
